body {
    font-family: Roboto, Arial, Tahoma, sans-serif;
    text-align: center;
    line-height: 1em;
    margin: 6vh;
    color: white;
}
.bg {
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spacing {
    padding: 0.6em;
    margin-bottom: 1vh;
    border-radius: 0.6em;
    border-width: 0;
}
h1 {
    margin-bottom: 1vw;
    font-size: 4vw;
}
p {
    font-size: 1.6vw;
}
form {
    background-color: rgba(27, 27, 50, 0.8);
    text-align: left;
    padding: 1.8em;
    padding-bottom: 1em;
    margin: 14vw;
    margin-top: 3vh;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}
label {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 0em;
}
input {
    font-size: 1em;
}
select {
    font-size: 1em;
}
input[name="radio-group"] {
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.6em;
    border-width: 0;
}
input[name="checkbox"] {
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.6em;
    border-width: 0;
}
textarea {
    padding: 1em;
    font-size: 1em;
    font-family: Roboto, Arial, Tahoma, sans-serif;
}
button {
    font-size: 1.2em;
    margin: 1.6em;
}
button:hover {
    background-color: #CCFF99;
    transform: scale(1.02);
}